Tester/Connected Services/WordsCountService/WordsCounter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WordsCounter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52545/WordsCounter.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52545/WordsCounter.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52545/WordsCounter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WordsCountSkyrtaOliinyk.DBModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordsCounter_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_Answer_InputMessage">
    <wsdl:part name="parameters" element="tns:Answer" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_Answer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_AddRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRequest" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_AddRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_ValidateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUser" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_ValidateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_GetAllRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRequests" />
  </wsdl:message>
  <wsdl:message name="IWordsCounter_GetAllRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWordsCounter">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordsCounter/GetAllUsers" message="tns:IWordsCounter_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordsCounter/GetAllUsersResponse" message="tns:IWordsCounter_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Answer">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordsCounter/Answer" message="tns:IWordsCounter_Answer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordsCounter/AnswerResponse" message="tns:IWordsCounter_Answer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordsCounter/AddUser" message="tns:IWordsCounter_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordsCounter/AddUserResponse" message="tns:IWordsCounter_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordsCounter/AddRequest" message="tns:IWordsCounter_AddRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordsCounter/AddRequestResponse" message="tns:IWordsCounter_AddRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordsCounter/ValidateUser" message="tns:IWordsCounter_ValidateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordsCounter/ValidateUserResponse" message="tns:IWordsCounter_ValidateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordsCounter/GetAllRequests" message="tns:IWordsCounter_GetAllRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordsCounter/GetAllRequestsResponse" message="tns:IWordsCounter_GetAllRequests_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordsCounter" type="tns:IWordsCounter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IWordsCounter/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Answer">
      <soap:operation soapAction="http://tempuri.org/IWordsCounter/Answer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IWordsCounter/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequest">
      <soap:operation soapAction="http://tempuri.org/IWordsCounter/AddRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUser">
      <soap:operation soapAction="http://tempuri.org/IWordsCounter/ValidateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRequests">
      <soap:operation soapAction="http://tempuri.org/IWordsCounter/GetAllRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordsCounter">
    <wsdl:port name="BasicHttpBinding_IWordsCounter" binding="tns:BasicHttpBinding_IWordsCounter">
      <soap:address location="http://localhost:52545/WordsCounter.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>